*{
    padding:0;
    margin : 0; 
    color:white;
}
#navbar{
    height : 60px;
    background-color: #0f1111;
    border-width:2px;
    border-style : solid;
    border-color:white;
    border-radius:10px;
   
    

}
button{
    background-color:#f08804;
}
#logo{
    color:#f08804;
    font-size:25px;
    padding-left:15px;

}
a{
    margin-right:160px;
   
  
}
body{
    background-image:url("bharat.jpg");
    background-position:absolute;
    background-size:cover;
    background-size:no-repeat;
}

#navbar:hover{
    border:2px solid white;
    

}



