*{
    font-family : 'Times New Roman', Times, serif;
}
h1{
    text-align : center;
    text-transform :capitalize ;
    
}
#outer{
    font-size: 40px;  /* its also set the property to its child;*/
}
#inner{
    font-size: 56px;
}
