*{
    margin: 0;
    padding: 0;

}
.container{
    height:500px;
    background-size:cover;
    background-image:url("netflix.jpg")
}

.box{
    height:50px;
    width:220px;
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:24px;
    display:flex;
    color:rgba(243, 18, 18, 0.986);
   -moz-text-size-adjust: 34rem;
    justify-content:center;
     align-items:right 60px;
     padding-top:30px;
}


.english{
    height:15px;
 
    color:red;


}
.en{
     margin-left:1000px;
      border:1px solid white;
      height:10px;
      width:40px;
      color:white;
      font-weight:100rem;
     

}
.sign{


    margin-left:1100px;
    border:1px solid white;
    background-color:red;
    


}